.vtr_tm_copyright {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #343c55;
    padding: 57px 0 61px
}

.vtr_tm_copyright .inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.vtr_tm_copyright .left p {
    font-size: 16px;
    color: #b7bac5;
    text-decoration-line: underline;
}

.vtr_tm_copyright .left a {
    text-decoration: none;
    color: #b7bac5;
    font-weight: 700;
    transition: all .3s ease
}

.vtr_tm_copyright .left a:hover {
    color: #fff
}

.vtr_tm_copyright .right ul {
    margin: 0;
    list-style-type: none
}

.vtr_tm_copyright .right ul li {
    margin: 0 42px 0 0;
    display: inline-block
}

.vtr_tm_copyright .right ul li:last-child {
    margin-right: 0
}

.vtr_tm_copyright .right ul li a {
    text-decoration: none;
    color: #b7bac5;
    font-size: 16px;
    transition: all .3s ease
}

.vtr_tm_copyright .right ul li a:hover {
    color: #fff
}


/*
****************************************
****** TABLET PORTRAIT RESPONSIVE ******
****************************************
*/
@media (max-width: 1023px) {
    .vtr_tm_copyright .inner{
        flex-direction: column;
        gap: 12px;
    }
}