.toast-container {
    position: fixed;
    top: 20px;
    right: 0;
    transform: translateX(-50%);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 999;
}

.success {
    background-color: rgb(5, 176, 87);
}

.error {
    background-color: rgb(176, 8, 5);
}


/*
*******************************
****** MOBILE RESPONSIVE ******
*******************************
*/
@media (max-width: 749px) {
    .toast-container {
        top: 35px;
        left: 50%;
    }
}