.vtr_page_not_found {
    position: relative;
    height: calc(100vh - 174px);
    margin: 100px 0 160px auto;
    text-align: center;
}

.vtr_page_not_found img {
    width: 400px;
    height: 400px;
}