.progressbar {
    position: fixed;
    height: 100px;
    width: 1px;
    bottom: 25px;
    right: -25px;
    background-color: rgba(0,0,0,.08);
    z-index: 10;
    transition: all .3s ease
}

.progressbar.animate {
    right: 25px
}

.progressbar .line {
    position: absolute;
    width: 1px;
    height: auto;
    background-color: rgba(0,0,0,.4)
}

.progressbar .text,
.progressbar .emoji {
    position: absolute;
    bottom: 100px;
    text-transform: uppercase;
    transform-origin: left;
    white-space: nowrap;
}

.progressbar .text {
    left: 0;
    font-size: 14px;
    transform: rotate(90deg);
}

.progressbar .emoji {
    left: -12px;
    font-size: 30px;
    transform: rotate(315deg);
    animation: rocketUpDown 3s infinite;
}

.progressbar .text span {
    font-size: 24px;
}

@keyframes rocketUpDown {
    0%, 100% {
        transform: translateY(0) rotate(315deg);
    }
    50% {
        transform: translateY(-8px) rotate(315deg);
    }
}

.progressbar div {
    color: #000
}