.vtr_blog_card_wrapper  {
    width: 350px;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.vtr_blog_card_wrapper  .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 12px
}

.vtr_blog_card_wrapper  .image img {
    position: relative;
    opacity: 0;
    min-width: 100%
}

.vtr_blog_card_wrapper  .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px;
    transform: scale(1) translateZ(0);
    transition: all .3s ease
}

.vtr_blog_card_wrapper  .image:hover .main {
    transform: scale(1.1) translateZ(0)
}

.vtr_blog_card_wrapper  .date {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 2;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 12px;
    text-align: center;
    padding: 13px 19px 12px;
    line-height: 1
}

.vtr_blog_card_wrapper .date h3 {
    font-size: 24px;
    color: #fff;
    font-family: inherit;
    line-height: 1.2
}

.vtr_blog_card_wrapper .date span {
    font-size: 14px;
    color: #fff
}

.vtr_blog_card_wrapper .details .category {
    font-size: 16px;
    color: var(--primary-color);
    font-family: Jost,sans-serif;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 2px;
}

.vtr_blog_card_wrapper .details .title {
    line-height: 1.4
}

.vtr_blog_card_wrapper .details a {
    display: block;
}

.vtr_blog_card_wrapper .details h3 {
    font-size: 21px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease
}

.vtr_blog_card_wrapper .details h3:hover {
    color: var(--secondary-color)
}

.vtr_tm_blogs .blogs_hidden_details {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -11
}

/*
****************************************
***** TABLET LANDSCAPE RESPONSIVE ******
****************************************
*/
@media (max-width: 1199px) {
    .vtr_blog_card_wrapper  {
        width: 320px;
    }
}

/*
****************************************
****** TABLET PORTRAIT RESPONSIVE ******
****************************************
*/
@media (max-width: 1023px) {
    .vtr_blog_card_wrapper  {
        width: 280px;
    }
}

/*
*******************************
****** MOBILE RESPONSIVE ******
*******************************
*/
@media (max-width: 749px) {
    .vtr_blog_card_wrapper  {
        width: 240px;
    }

    .vtr_blog_card_wrapper .details .title a{
        font-size: 18px;
    }
}