.vtr_tm_testimonials {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 165px
}

.vtr_tm_testimonials .testimonials_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    align-items: center;
    position: relative
}

.vtr_tm_testimonials .hidden_details {
    position: absolute;
    z-index: -111;
    display: none;
    opacity: 0;
    visibility: hidden
}

.vtr_tm_testimonials .leftpart {
    width: 31.5%
}

.vtr_tm_testimonials .leftpart ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow: hidden
}

.vtr_tm_testimonials .leftpart ul li {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: all .3s ease
}

.vtr_tm_testimonials .leftpart ul li.active {
    position: relative;
    transform: translateX(0)
}

.vtr_tm_testimonials .leftpart ul li .image {
    position: relative
}

.vtr_tm_testimonials .leftpart ul li img {
    position: relative;
    opacity: 0;
    min-width: 100%
}

.vtr_tm_testimonials .leftpart ul li .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 10px
}

.vtr_tm_testimonials .rightpart {
    width: 68.5%;
    padding-left: 130px
}

.vtr_tm_testimonials .rightpart_in {
    width: 100%;
    float: left
}

.vtr_tm_testimonials .main_title {
    width: 100%;
    float: left;
    margin-bottom: 20px
}

.vtr_tm_testimonials .main_title h3 {
    font-weight: 700;
    font-size: 106px;
    color: hsla(41,8%,50%,.1);
    line-height: 1
}

.vtr_tm_testimonials .main_title .big {
    position: relative;
    display: inline-block
}

.vtr_tm_testimonials .main_title .small {
    position: absolute;
    color: #000;
    font-size: 32px;
    left: 0;
    bottom: 10px;
    z-index: 1
}

.vtr_tm_testimonials .main_title .svg {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 100%;
    margin-left: 13px;
    bottom: -3px
}

.vtr_tm_testimonials .quotes {
    width: 100%;
    float: left;
    margin-bottom: 37px
}

.vtr_tm_testimonials .quotes ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow: hidden
}

.vtr_tm_testimonials .quotes ul li {
    margin: 0;
    top: 0;
    position: absolute;
    transform: translateX(100%);
    transition: all .3s ease
}

.vtr_tm_testimonials .quotes ul li.active {
    position: relative;
    transform: translateX(0)
}

.vtr_tm_testimonials .quotes p {
    font-size: 20px;
    line-height: 2
}

.vtr_tm_testimonials .details {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(0,0,0,.07);
    padding-top: 25px
}

.hidden {
    display: none!important
}

.vtr_tm_testimonials .infos {
    display: flex;
    align-items: center
}

.vtr_tm_testimonials .avatars {
    width: 180px
}

.vtr_tm_testimonials .avatars ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    position: relative
}

.vtr_tm_testimonials .avatars ul li {
    margin-left: -20px;
    float: left;
    cursor: pointer
}

.vtr_tm_testimonials .avatars ul li:hover div {
    transform: scale(1.4)
}

.vtr_tm_testimonials .avatars span {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #fff
}

.vtr_tm_testimonials .avatars div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 100%;
    transition: all .3s ease
}

.vtr_tm_testimonials .short {
    padding-left: 20px
}

.vtr_tm_testimonials .short .name {
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow: hidden
}

.vtr_tm_testimonials .short .name li {
    margin: 0;
    position: absolute;
    left: 100%;
    top: 0;
    transition: all .3s ease
}

.vtr_tm_testimonials .short .name li.active {
    position: relative;
    left: 0
}

.vtr_tm_testimonials .name h3 {
    font-weight: 700;
    font-size: 20px;
    color: var(--extra-color);
    margin-bottom: 2px
}

.vtr_tm_testimonials .short .job {
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow: hidden
}

.vtr_tm_testimonials .short .job li {
    margin: 0;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all .3s ease
}

.vtr_tm_testimonials .short .job li.active {
    position: relative;
    left: 0
}

.next_button a {
    font-family: var(--font-family-extra);
    font-weight: 700;
    color: #000
}

.next_button .svg {
    position: relative;
    margin-left: 6px;
    top: 3px;
    color: var(--extra-color)
}
