.dizme_tm_testimonials {
    margin-bottom: 165px
}

.dizme_tm_testimonials,.dizme_tm_testimonials .list_wrapper {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.dizme_tm_testimonials .in {
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: 0 auto
}

.dizme_tm_testimonials .total {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.dizme_tm_testimonials ul {
    margin: 0;
    list-style-type: none
}

.dizme_tm_testimonials ul li {
    margin: 0
}

.dizme_tm_testimonials .icon {
    margin-bottom: 35px
}

.dizme_tm_testimonials .icon .svg {
    width: 65px;
    height: 65px;
    color: #f75023
}

.dizme_tm_testimonials .text {
    margin-bottom: 51px
}

.dizme_tm_testimonials .text p {
    font-size: 30px;
    font-style: italic;
    line-height: 1.6
}

.dizme_tm_testimonials .short {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.dizme_tm_testimonials .short .image {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%
}

.dizme_tm_testimonials .short .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 100%
}

.dizme_tm_testimonials .detail {
    text-align: left;
    padding-left: 25px
}

.dizme_tm_testimonials .detail h3 {
    font-size: 24px
}

.dizme_tm_testimonials .detail span {
    font-size: 16px
}

.dizme_tm_testimonials .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background-color: #f75023;
    position: relative;
    margin: 0 12px
}

.dizme_tm_testimonials .owl-theme .owl-dots .owl-dot span:before {
    position: absolute;
    content: "";
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 100%;
    border: 2px solid #ffb324;
    z-index: -1;
    transition: all .5s ease
}

.dizme_tm_testimonials .owl-theme .owl-dots .owl-dot.active span:before {
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px
}

.dizme_tm_testimonials .owl-theme .owl-nav.disabled+.owl-dots {
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    margin-top: 64px
}

.dizme_tm_testimonials .brush_1 {
    position: absolute;
    top: -120px;
    right: 20px
}

.dizme_tm_testimonials .left_details {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    margin-top: -10px
}

.dizme_tm_testimonials .left_details .det_image {
    position: absolute;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}

.dizme_tm_testimonials .left_details .det_image.one {
    width: 55px;
    height: 55px
}

.dizme_tm_testimonials .left_details .det_image.two {
    width: 70px;
    height: 70px;
    top: -217px;
    left: 133px
}

.dizme_tm_testimonials .left_details .det_image.three {
    width: 60px;
    height: 60px;
    top: -60px;
    left: 255px
}

.dizme_tm_testimonials .left_details .det_image.four {
    width: 35px;
    height: 35px;
    left: 260px;
    bottom: -153px
}

.dizme_tm_testimonials .left_details .circle {
    position: absolute;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 100%
}

.dizme_tm_testimonials .left_details .circle.green {
    background-color: #1cbe59;
    top: -108px;
    left: 55px
}

.dizme_tm_testimonials .left_details .circle.yellow {
    background-color: #f0c45c;
    left: 148px;
    bottom: -42px
}

.dizme_tm_testimonials .left_details .border {
    border: 4px solid #6e50f0;
    width: 30px;
    height: 30px;
    top: -152px;
    left: 300px
}

.dizme_tm_testimonials .right_details {
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translateY(-50%);
    margin-top: -50px
}

.dizme_tm_testimonials .right_details .det_image {
    position: absolute;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}

.dizme_tm_testimonials .right_details .det_image.one {
    width: 49px;
    height: 49px
}

.dizme_tm_testimonials .right_details .det_image.two {
    width: 79px;
    height: 79px;
    bottom: -100px;
    right: 225px
}

.dizme_tm_testimonials .right_details .det_image.three {
    width: 58px;
    height: 58px;
    top: -162px;
    right: 50px
}

.dizme_tm_testimonials .right_details .circle {
    position: absolute;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 100%
}

.dizme_tm_testimonials .right_details .circle.yellow {
    background-color: #f0c45c;
    top: -173px;
    right: 263px
}

.dizme_tm_testimonials .right_details .circle.purple {
    background-color: #8067f0;
    bottom: -180px;
    right: 38px
}

.dizme_tm_testimonials .right_details .border {
    border: 6px solid #1cbe59;
    width: 54px;
    height: 54px;
    right: 109px;
    top: -13px
}

/* SWIPER */

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-android .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-pointer-events {
    touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0,0,0,.15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
    margin-inline-start:var(--swiper-centered-offset-before);
}

/* .swiper-centered.swiper-horizontal>.swiper-wrapper: before {
    height:100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after)
} */

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
    margin-block-start:var(--swiper-centered-offset-before);
}

/* .swiper-centered.swiper-vertical>.swiper-wrapper: before {
    width:100%;
    min-width: 1px;
    height: var(--swiper-centered-offset-after)
} */

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center
}

.owl-dots.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 64px
}

span.swiper-pagination-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #f75023;
    position: relative;
    margin: 0 12px;
    border-radius: 50%;
    cursor: pointer
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active:before {
    position: absolute;
    content: "";
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 100%;
    border: 2px solid #ffb324;
    transition: all .5s ease
}
