.vtr_tm_blogs {
    position: relative
}

.vtr_tm_blogs,.vtr_tm_blogs .blogs_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.vtr_tm_blogs .blogs_list {
    margin-bottom: 32px;
}

.vtr_tm_blogs ul {
    list-style-type: none;
    display: flex;
    overflow: auto;
}

.vtr_tm_blogs ul li {
    margin: 0 0 25px;
    display: inline-block;
}

.vtr_tm_blogs ul li:not(:first-child) {
    padding-left: 25px;
}

.vtr_tm_blogs ul li .list_inner {
    width: 350px;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.vtr_tm_blogs ul li .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 12px
}

.vtr_tm_blogs ul li .image img {
    position: relative;
    opacity: 0;
    min-width: 100%
}

.vtr_tm_blogs ul li .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px;
    transform: scale(1) translateZ(0);
    transition: all .3s ease
}

.vtr_tm_blogs ul li .image:hover .main {
    transform: scale(1.1) translateZ(0)
}

.vtr_tm_blogs ul li .date {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 2;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 12px;
    text-align: center;
    padding: 13px 19px 12px;
    line-height: 1
}

.vtr_tm_blogs ul li .date h3 {
    font-size: 24px;
    color: #fff;
    font-family: inherit;
    line-height: 1.2
}

.vtr_tm_blogs ul li .date span {
    font-size: 14px;
    color: #fff
}

.vtr_tm_blogs ul li .details .category {
    font-size: 16px;
    color: var(--primary-color);
    font-family: Jost,sans-serif;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 2px;
}

.vtr_tm_blogs ul li .details .title {
    line-height: 1.4
}

.vtr_tm_blogs ul li .details a {
    display: block;
}

.vtr_tm_blogs ul li .details h3 {
    font-size: 21px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease
}

.vtr_tm_blogs ul li .details h3:hover {
    color: var(--secondary-color)
}

.vtr_tm_blogs .blogs_hidden_details {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -11
}

/*
****************************************
***** TABLET LANDSCAPE UP RESPONSIVE ******
****************************************
*/

@media (min-width: 1199px) {
    /* Custom Scrollbar Css */
    .vtr_tm_blogs .hr_scroll::-webkit-scrollbar {
        width: 11px
    }

    .vtr_tm_blogs .hr_scroll {
        scrollbar-width: thin;
        scrollbar-color: var(--primary-color) #fff
    }

    .vtr_tm_blogs .hr_scroll:-webkit-scrollbar-track {
        background: #fff
    }

    .vtr_tm_blogs .hr_scroll::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 10px;
        border: 3px solid #fff
    }
}

/*
****************************************
***** TABLET LANDSCAPE RESPONSIVE ******
****************************************
*/
@media (max-width: 1199px) {
    .vtr_tm_blogs ul {
        margin-bottom: -24px;
    }

    .vtr_tm_blogs ul li .list_inner {
        width: 320px;
    }
}

/*
****************************************
****** TABLET PORTRAIT RESPONSIVE ******
****************************************
*/
@media (max-width: 1023px) {
    .vtr_tm_blogs ul li .list_inner {
        width: 280px;
    }
}

/*
*******************************
****** MOBILE RESPONSIVE ******
*******************************
*/
@media (max-width: 749px) {
    .vtr_tm_blogs ul li .list_inner {
        width: 240px;
    }

    .vtr_tm_blogs ul li .details .title a{
        font-size: 18px;
    }
}