.vtr_tm_blogs {
    position: relative
}

.vtr_tm_blogs,.vtr_tm_blogs .blogs_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.vtr_tm_blogs .blogs_list {
    margin-bottom: 32px;
}

.vtr_tm_blogs ul {
    list-style-type: none;
    display: flex;
    overflow: auto;
}

.vtr_tm_blogs ul li {
    margin: 0 0 25px;
    display: inline-block;
}

.vtr_tm_blogs ul li:not(:first-child) {
    padding-left: 25px;
}

/*
****************************************
***** TABLET LANDSCAPE UP RESPONSIVE ******
****************************************
*/

@media (min-width: 1199px) {
    /* Custom Scrollbar Css */
    .vtr_tm_blogs .hr_scroll::-webkit-scrollbar {
        width: 11px
    }

    .vtr_tm_blogs .hr_scroll {
        scrollbar-width: thin;
        scrollbar-color: var(--primary-color) #fff
    }

    .vtr_tm_blogs .hr_scroll:-webkit-scrollbar-track {
        background: #fff
    }

    .vtr_tm_blogs .hr_scroll::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 10px;
        border: 3px solid #fff
    }
}

/*
****************************************
***** TABLET LANDSCAPE RESPONSIVE ******
****************************************
*/
@media (max-width: 1199px) {
    .vtr_tm_blogs ul {
        margin-bottom: -24px;
    }
}