/* 
    Light tint: #8a97da
    Dark tint: #1229a3

*/
:root {
    --primary-color: #142eb5;
    --secondary-color: #0e207f;
    --accent-grey: #767676;
    --font-family-main: "Open Sans",sans-serif;
    --font-family-extra: "Barlow",sans-serif;
}

a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none
}

body,html {
    overflow-x: hidden
}

body {
    width: 100%;
    font-family: var(--font-family-main);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #54545f
}

body::-webkit-scrollbar {
    width: 11px
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #fff
}

body:-webkit-scrollbar-track {
    background: #fff
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
    border: 3px solid #fff
}

::-moz-placeholder {
    color: #6f6f6f;
    opacity: 1
}

:-ms-input-placeholder {
    color: #6f6f6f
}

::placeholder {
    color: #6f6f6f
}

.container {
    max-width: 1070px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 20px;
    position: relative;
    clear: both
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.3;
    font-family: var(--font-family-extra);
    color: #000
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 30px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

h6 {
    font-size: 16px
}

p{
    color: var(--accent-grey);
}

svg {
    fill: currentcolor
}

img {
    vertical-align: middle
}

a{
    text-decoration: none;
}

a,i {
    border: none
}

a:hover {
    text-decoration: none
}

textarea {
    border-radius: 0;
    font-size: 18px;
    resize: vertical;
    font-family: Open Sans,sans-serif;
    letter-spacing: 0;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    padding: 10px!important;
    width: 100%;
    border: 1px solid #eee;
    transition: all .3s ease
}

.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week] {
    border-radius: 0;
    font-size: 18px;
    min-width: auto;
    letter-spacing: 0;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
    line-height: 1.6;
    padding: 10px;
    height: 44px;
    vertical-align: middle;
    border: 1px solid #eee;
    transition: all .3s ease
}

.uneditable-input:focus,input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus {
    border-color: #ccc;
    background: #eee
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=submit] {
    padding: 13px 15px;
    height: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #777;
    transition: all .3s ease
}

input[type=submit]:hover {
    background: #444
}

select {
    padding: 8px;
    border: 2px solid #eee
}

input[type=button] {
    cursor: pointer;
    transition: all .3s ease
}

/* COLOR CLASS */
.greenText {
    color: #1cbe59!important
}

.purpleText {
    color: #8067f0!important
}

.orangeText {
    color: #f75023!important
}

.yellowText {
    color: #f0c45c!important
}

.orangeBackground {
    background-color: #fedfd7!important
}

.greenBackground {
    background-color: #ddf5e6!important
}

.purpleBackground {
    background-color: #ece8fd!important
}
