.vtr_tm_portfolio {
    width: 100%;
    height: auto;
    margin-bottom: 165px;
}

.vtr_tm_portfolio .portfolio_list {
    width: 100%;
    height: auto;
}

.vtr_tm_portfolio .portfolio_list ul {
    margin: 0 0 0 -25px;
    list-style-type: none;
    display: block;
    overflow: auto;
    margin-bottom: -24px;
    margin-left: 0;
    margin-right: 0;
}

.vtr_tm_portfolio .portfolio_list ul li {
    margin: 0 0 30px;
    display: inline-block;
    padding-right: 30px;
    width: 28.3333%
}

.vtr_tm_portfolio .portfolio_list ul li .list_inner {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid;
    border-radius: 10px;
}

.vtr_tm_portfolio .portfolio_list ul li .image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.vtr_tm_portfolio .portfolio_list ul li .image img {
    position: relative;
    opacity: 0;
    min-width: 100%
}

.vtr_tm_portfolio .portfolio_list ul li .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    transform: scale(1) translateZ(0);
    transition: all .3s ease
}

.vtr_tm_portfolio .list_inner:hover .image .main {
    transform: scale(1.1) translateZ(0)
}

.vtr_tm_portfolio .portfolio_list .details {
    width: 100%;
    background-color: #e8eaf8;
    padding: 20px 30px 28px 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative
}

.vtr_tm_portfolio .portfolio_list .details .category {
    display: inline-block;
    font-family: var(--font-family-extra);
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 5px;
    position: relative;
}

.vtr_tm_portfolio .portfolio_list .details .category:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: rgba(0,0,0,.1);
    left: -50px;
    bottom: 10px
}

.vtr_tm_portfolio .portfolio_list .details .category:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    left: -50px;
    bottom: 10px;
    z-index: 1;
    transition: all .3s ease
}

.vtr_tm_portfolio .list_inner:hover .category:after {
    width: 40px;
}

.vtr_tm_portfolio .portfolio_list .details .svg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    opacity: .1;
    transition: all .3s ease
}

