.vtr_tm_portfolio {
    width: 100%;
    height: auto;
}

.vtr_tm_portfolio .portfolio_list {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.vtr_tm_portfolio .portfolio_list ul {
    list-style-type: none;
    display: block;
    overflow: auto;
    margin-bottom: -24px;
}

.vtr_tm_portfolio .portfolio_list ul li {
    margin: 0 0 30px;
    display: inline-block;
    padding: 0 15px;
    width: 33.33%;
    vertical-align: top;
}

/*
****************************************
****** TABLET PORTRAIT RESPONSIVE ******
****************************************
*/
@media (max-width: 1023px) {
    .vtr_tm_portfolio .portfolio_list ul li{
        width: 40%;
    }
}

/*
*******************************
****** MOBILE RESPONSIVE ******
*******************************
*/
@media (max-width: 749px) {
    .vtr_tm_portfolio .portfolio_list ul li{
        width: 60%;
    }
}
