.vtr_tm_about {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 180px
}

.vtr_tm_about .about_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center
}

.vtr_tm_about .left {
    width: 50%;
    padding-right: 10px
}

.vtr_tm_about .image_wrap {
    position: relative
}

.vtr_tm_about .image_wrap img {
    position: relative;
    opacity: 0;
    min-width: 100%
}

.vtr_tm_about .image_wrap .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px
}

.vtr_tm_about .extra_image {
    position: absolute;
    bottom: -125px;
    left: -100px
}

.vtr_tm_about .main_extra {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px
}

.vtr_tm_about .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.vtr_tm_about .icon_1 {
    position: absolute;
    display: inline-block;
    border-radius: 12px;
    background-color: #3b383f;
    bottom: 110px;
    width: 80px;
    height: 80px;
    right: 150px;
    left: -40px;
}

.vtr_tm_about .icon_1 .svg {
    width: 40px;
    height: 40px
}

.vtr_tm_about .icon_2 {
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 12px;
    background-color: #007095;
    top: -40px;
    right: -35px
}

.vtr_tm_about .icon_2 .svg {
    width: 50px;
    height: 50px;
    color: #fff
}

.vtr_tm_about .icon_3 {
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 12px;
    background-color: #0489c8;
    top: 100%;
    margin-top: -40px;
    right: 150px;
}

.vtr_tm_about .icon_3 .svg {
    width: 45px;
    height: 45px
}

.vtr_tm_about .icon_4 {
    position: absolute;
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 12px;
    background-color: var(--primary-color);
    top: 80px;
    left: -34px;
}

.vtr_tm_about .icon_4 .svg {
    width: 50px;
    height: 50px;
    color: #fff
}

.vtr_tm_about .right {
    width: 50%;
    padding-left: 80px;
}

.vtr_tm_about .right .title {
    width: 100%;
    float: left;
    margin-bottom: 28px
}

.vtr_tm_about .right .title span {
    font-size: 20px;
    color: var(--primary-color);
    font-family: var(--font-family-extra);
    font-weight: 600
}

.vtr_tm_about .right .title h3 {
    font-size: 35px;
    line-height: 1.25
}

.vtr_tm_about .right .text {
    width: 100%;
    float: left;
    margin-bottom: 42px
}

.vtr_tm_about .right .text p {
    margin-bottom: 32px
}

.vtr_tm_about .right .text p:last-child {
    margin-bottom: 0
}

/*
****************************************
***** TABLET LANDSCAPE RESPONSIVE ******
****************************************
*/
@media (min-width:1024px) and (max-width: 1199px) {
    .vtr_tm_about .right .title h3 {
        font-size: 30px;
    }
}

/*
****************************************
****** TABLET PORTRAIT RESPONSIVE ******
****************************************
*/
@media (max-width: 1023px) {
    .vtr_tm_about .about_inner{
        flex-direction: column;
    }

    .vtr_tm_about .left{
        width: 65%;
        margin-bottom: 44px;
    }

    .vtr_tm_about .icon_2, .vtr_tm_about .icon_3{
        width: 62px;
        height: 62px;
    }

    .vtr_tm_about .icon_2{
        top: -25px;
        right: -25px;
    }

    .vtr_tm_about .icon_3{
        width: 74px;
        height: 74px;
    }

    .vtr_tm_about .icon_2 .svg{
        width: 44px;
        height: 44px;
    }

    .vtr_tm_about .right{
        width: 100%;
        padding: 0;
    }

    .vtr_tm_about .right .title h3{
        font-size: 30px;
    }
}