.vtr-page-wrapper{
    opacity: 0;
}

.vtr-page-wrapper.visible {
    opacity: 1;
}

.vtr_tm_all_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.grecaptcha-badge { 
    bottom: 0;
    top: 118px;
    z-index: 999;
}