.vtr_tm_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 25px 0;
    transition: all .3s ease;
}

.vtr_tm_header.animate {
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
}

.vtr_tm_header .header_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.vtr_tm_header .logo img {
    max-width: 150px
}

.vtr_tm_header .logo .light {
    display: block
}

.vtr_tm_header .hamburger-inner,
.vtr_tm_header .hamburger-inner:after,
.vtr_tm_header .hamburger-inner:before {
    width: 30px;
    height: 2px;
}

.vtr_tm_header .hamburger-box {
    width: 30px
}

.vtr_tm_header .hamburger {
    padding: 0
}

.vtr_tm_header .trigger {
    line-height: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.vtr_tm_header .menu ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center
}

.vtr_tm_header .menu ul li {
    margin: 0 35px 0 0
}

.vtr_tm_header .menu ul li:last-child {
    margin-right: 0
}

.vtr_tm_header .menu ul li a {
    color: #fff;
    font-family: var(--font-family-extra);
    font-weight: 600;
    transition: all .3s ease;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.vtr_tm_header .menu ul li.current a,
.vtr_tm_header.animate .menu ul li.current a {
    color: var(--primary-color)
}

.vtr_tm_header .menu ul li.download_cv a {
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 12px 21px 14px;
    transition: all .3s ease
}

.vtr_tm_header .menu ul li.download_cv a:hover {
    background-color: var(--primary-color)
}

.vtr_tm_header.animate .menu ul li a {
    color: #000
}

.vtr_tm_header.animate .menu ul li.download_cv a {
    color: #fff
}

/*
****************************************
****** TABLET PORTRAIT RESPONSIVE ******
****************************************
*/
@media (max-width: 1023px) {

    .vtr_tm_header.open {
        background-color: #fff;
    }

    .vtr_tm_header .menu{
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        margin: -25px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .vtr_tm_header .menu.open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .vtr_tm_header .menu ul{
        flex-direction: column;
        gap: 24px;
    }

    .vtr_tm_header .menu ul li{
        margin: 0;
        font-size: 20px;
    }

    .vtr_tm_header .menu ul li a{
        color: #000;
    }

    .vtr_tm_header .menu ul li.download_cv a{
        color: #fff;
        padding: 8px 23px 12px
    }

    .vtr_tm_header .trigger {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        z-index: 999;
    } 

    .vtr_tm_header.animate .hamburger-inner,
    .vtr_tm_header.animate .hamburger-inner:after,
    .vtr_tm_header.animate .hamburger-inner:before {
        background-color: #000;
    }

    .vtr_tm_header .hamburger.is-active .hamburger-inner,
    .vtr_tm_header .hamburger.is-active .hamburger-inner:after,
    .vtr_tm_header .hamburger.is-active .hamburger-inner:before {
        background-color: #000;
    }
}

/*
*******************************
****** MOBILE RESPONSIVE ******
*******************************
*/
@media (max-width: 749px) {
    .vtr_tm_header,
    .vtr_tm_header.animate {
        padding: 15px 0;
    }
 
    .vtr_tm_header .logo img {
        max-width: 110px;
        max-height: 70px;
    }

    .vtr_tm_header .trigger {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }   

    .vtr_tm_header .menu{
        margin: -15px 0;
    }
}